.pdfWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;

  .canvas {
    overflow: hidden;
  }

  .selection {
    position: absolute;
    pointer-events: none;
    border: 1px solid rgb(16, 124, 224);
    border-radius: 1.5px;
    background-color: rgba(16, 124, 224, 0.15);
  }
}
