.layout {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  border-bottom: 1px solid lightgray;
  background-color: white;

  .logo {
    height: 2.5rem;
    object-fit: contain;
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    button {
      height: 100%;
      border: none;
      font-weight: 500;
      background: none;

      &.em {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color: white;
        background-color: var(--dark);
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;

  .tag {
    min-height: 50rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;

    .text {
      flex: 1;

      .big {
        display: block;
        margin-bottom: 2.5rem;
        font-size: 7.5rem;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 100%;
      }

      .description {
        max-width: 60ch;
        color: gray;
        font-size: 1.6rem;
        line-height: 150%;
      }

      .button {
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 3.5rem;
        border-radius: 5px;
        color: white;
        background-color: var(--dark);
        transition: 0.15s;

        &:hover {
          opacity: 0.85;
          text-decoration: none;
        }
      }
    }

    .visual {
      flex: 1;
      background-color: red;
    }
  }
}
