.layout {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  color: gray;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .tag {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .big {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .small {
    color: gray;
    font-size: 1.8rem;
  }
}

.contentLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    radial-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-color: #fff;
  background-position: center center;
  background-size: 15px 15px;
}

.pdf {
  position: relative;
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .inputWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;
  }
}

.sidebar {
  position: relative;
  height: 100%;
  border-left: 1px solid lightgray;
  background-color: white;

  .menuButton {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99rem;
    border: 1px solid lightgray;
    background-color: white;
  }

  .heading {
    display: block;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .content {
    width: 100%;
    height: calc(100vh - 8rem);
    overflow: scroll;
    padding: 2.5rem;

    .aiBreakdown {
      margin-bottom: 2.5rem;
    }

    .placeholder {
      width: 100%;
      height: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgray;
      border-radius: 5px;
      color: gray;
      font-size: 1.6rem;
    }
  }
}
